.friendList {
  display: grid;
  align-items: center;

  margin-top: 40px;
  max-width: 260px;
  margin-right: auto;
  margin-left: auto;
  gap: 10px;
}
.item {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  align-items: center;

  border-radius: 4px;
  width: 260px;
  margin-right: auto;
  margin-left: auto;

  background-color: #fff;
  box-shadow: 0 3px 18px rgba(30, 2, 209, 0.9);
}
/* .item:not(:first-child){
    margin-top: 10px;
} */
